@{
    ViewData["Title"] = "ReceiptPreview";
}

<h2>Receipt</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    @foreach (var item in ViewBag.Transaction.Items)
    {
        <tr>
            <td>@item.Product.Name</td>
            <td>@item.Quantity</td>
            <td>$@item.Product.Price.ToString("F2")</td>
            <td>$@((item.Product.Price * item.Quantity).ToString("F2"))</td>
        </tr>
    }
</table>

<div class="summary">
    <p>Subtotal <span>$@ViewBag.Transaction.Subtotal.ToString("F2")</span></p>
    <p>Tax <span>$@ViewBag.Transaction.Tax.ToString("F2")</span></p>
    <p>Total <span>$@ViewBag.Transaction.Total.ToString("F2")</span></p>
    <p>Cash Amount <span>$@ViewBag.CashAmount.ToString("F2")</span></p>
    <p>Change <span>$@ViewBag.Change.ToString("F2")</span></p>
</div>


<a asp-action="POSInterface" class="btn btn-primary">New Transaction</a>  